*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#positivo{
    padding: 5px 8px;
    color: green;
    border-radius: 5px;
}

#negativo{
    padding: 5px 8px;
    color: red;
    border-radius: 5px;
}